//Overrides
$primary: #0056b3;
$secondary: #6c757d;
$success: #218838;
$danger: #c82333;
$warning: #d39e00;
$info: #138496;
$light: #ced4da;
$dark: #343a40;

@import "~bootstrap/scss/bootstrap";
@import "@/styles/ChatInterface.scss";
@import "@/styles/ChatMessage.scss";

// Applying the theme colors
body {
	background-color: $danger;
	color: $dark;
}

// Styles for navbar dropdown
.nav-item.dropdown {
  // Hover effect for dropdown
  &:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

// Styles for dropdown menu
.dropdown-menu {
  transition: all 0.3s ease; // Animation transition
  opacity: 0;
  transform: translateY(-20px);
  display: none; // Initially hidden

  // Ensure it's shown immediately on click without delay
  &.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
